.container {
  display: flex;
  justify-content: space-evenly;
}
#checkbox1,
#checkbox2,
#checkbox3 {
  margin: 15px auto;
  width: 22px;
  height: 22px;
}
label {
  padding-left: 10px;
  vertical-align: super;
}
